<!DOCTYPE html>
<html>
<head>
  <title>Hello</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <!-- Perform basic BrowserID setup in the head section -->
	<%= setup_browserid %>

</head>
<body>

<%= yield %>

</body>
</html>
